.left_panel{
    height: 100%;
    width: 35%;
   

    
    overflow: hidden;
    margin-right: 5px;
    
}
.datee{
  display: flex;
  padding: 10px;
  align-items: center;
}
.datee>h3{
 
  margin: 0 10px;
}

#light .datee{
  color:black;
}
#dark .left_panel{
  background: url(./Images/pexels-nextvoyage-2019546.jpg);
  background-size: cover;
}
#light .left_panel{
  background: url(./Images/pexels-louis-1796505.jpg);
  background-size: cover;
}
.upper_panel{
  display:none;
  height: 50px;
  width: 100%;
 
}
#dark .upper_panel{
  background-color: rgba(0, 0, 0, 0.579);
}
#light .upper_panel{
  background-color: rgba(255, 255, 255, 0.662);
}
@media only screen and (max-width: 720px) {
  .left_panel{
    width: 100%;

    box-shadow: -10px 0 20px black;
  }
  .upper_panel{
    display: block;
  }
  }